body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p {
    position: relative;
    text-align: justify;
    font-size: larger;
}

#articolo {
    border: solid;
    background-color: aquamarine;
    margin-top: 2em;
    margin-bottom: 2em;
}